<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="25732" value="roth2" />
    <add key="29610" value="mlv" />
    <add key="30960" value="merriman" />
    <add key="31856" value="cfraresearch" />
    <add key="32060" value="ubswma" />
    <add key="32108" value="avondale2" />
    <add key="32323" value="stephens2" />
    <add key="82662" value="simmons" />
    <add key="12761" value="renmac" />
    <add key="13652" value="mj2" />
    <add key="14276" value="opco2" />
    <add key="14687" value="moelis" />
    <add key="25729" value="Needham" />
    <add key="28327" value="evercore" />
    <add key="31384" value="northland" />
    <add key="32195" value="Javatar" />
    <add key="57922" value="northcoast" />
    <add key="6429" value="piper2" />
    <add key="93619" value="rbcnew" />
    <add key="12163" value="topeka" />
    <add key="21503" value="sig" />
    <add key="21521" value="sandler3" />
    <add key="23569" value="aegis" />
    <add key="29581" value="Salman" />
    <add key="30318" value="klr" />
    <add key="31480" value="sterneagee" />
    <add key="31839" value="telsey" />
    <add key="91919" value="stifel2" />
    <add key="10703" value="brasilplural" />
    <add key="11269" value="brinsonpatrick" />
    <add key="14843" value="bairdfi" />
    <add key="16975" value="Canaccordgenuity" />
    <add key="18633" value="breancapital" />
    <add key="24184" value="altacorp" />
    <add key="2837" value="baird" />
    <add key="29320" value="bbt" />
    <add key="64699" value="bm" />
    <add key="67811" value="buckresearch" />
    <add key="13081" value="maxim" />
    <add key="15314" value="guggenheimsecurities" />
    <add key="18127" value="crc" />
    <add key="21750" value="pacificcrest" />
    <add key="21785" value="macroadvisers" />
    <add key="23069" value="Cowen" />
    <add key="24936" value="griffin" />
    <add key="28407" value="compasspoint" />
    <add key="9849" value="contacts" />
    <add key="14328" value="ubswmapte" />
    <add key="14790" value="tddev" />
    <add key="15168" value="eurasiagroup" />
    <add key="15176" value="europac" />
    <add key="16321" value="tdsecurities" />
    <add key="18692" value="evadimensions" />
    <add key="19614" value="ghsecurities" />
    <add key="20624" value="dougherty" />
    <add key="26835" value="edwardjones" />
    <add key="27985" value="canaccordgenuitydev" />
    <add key="29367" value="desjardins" />
    <add key="30214" value="gmpsecurities" />
    <add key="31797" value="mufgusa" />
    <add key="31970" value="empirical" />
    <add key="79694" value="gmpsecuritiesllc" />
    <add key="14275" value="lifesci" />
    <add key="16481" value="mizuho" />
    <add key="16689" value="jrco" />
    <add key="17569" value="ladenburg" />
    <add key="22975" value="Leerink2" />
    <add key="24758" value="msusa" />
    <add key="27153" value="jms" />
    <add key="29553" value="key2" />
    <add key="54545" value="kbw3" />
    <add key="69841" value="longbow" />
    <add key="10823" value="capitalonebank2" />
    <add key="15943" value="weeden2" />
    <add key="16813" value="icp" />
    <add key="20569" value="hcwco" />
    <add key="22608" value="hovdegroup" />
    <add key="23991" value="ITG" />
    <add key="25203" value="cantor2" />
    <add key="31682" value="clarkson" />
    <add key="36142" value="chardan" />
    <add key="74785" value="wunderlich" />
    <add key="17125" value="Crt" />
    <add key="17952" value="jmp" />
    <add key="21765" value="FBR" />
    <add key="29412" value="cross" />
    <add key="31569" value="furey" />
    <add key="31947" value="daiwa" />
    <add key="28282" value="bairddev" />
    <add key="9841" value="demo" />
    <add key="38383" value="Numisdev2" />
    <add key="35353" value="rbcdev" />
    <add key="18867" value="sigdev" />
    <add key="24552" value="cantordev" />
    <add key="29430" value="edwardjonesdev" />
    <add key="21212" value="FBRDEV" />
    <add key="23713" value="investecdev" />
    <add key="28341" value="ITGDEV" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>